.menu-item #bg {
    -fx-fill: linear-gradient(to right, rgba(255,255,255,0.5), rgba(0,0,0,0.5));
}

.menu-item #bgOverlay {
    -fx-fill: rgba(0, 0, 0, 0.2);
    -fx-transition: fill 0.3s ease-in-out;
}

.menu-item:hover #bgOverlay {
    -fx-fill: rgba(255, 255, 255, 0.2);
}

.menu-item:hover #line {
    -fx-fill: red;
    -fx-width: 8;
}

.menu-item #line {
    -fx-fill: gray;
    -fx-width: 5;
}

.menu-item:hover #text {
    -fx-fill: white;
}

.menu-item #text {
    -fx-fill: gray;
}

.menu-item:pressed #bg {
    -fx-fill: lightblue;
}
